<div  class="add-item">
    <input [(ngModel)]="newItem" placeholder="Nuevo elemento">
    <button (click)="addItem()" class="icon-button" matTooltip="Add"  matTooltipPosition="right" matTooltipShowDelay="500">
        <mat-icon>add</mat-icon>
    </button>
</div>
<ol>
    <li *ngFor="let item of items; let i=index" class="item">
        <span>{{item}}</span>
        <button (click)="deleteItem(i)" class="icon-button" matTooltip="Delete"  matTooltipPosition="right" matTooltipShowDelay="500">
            <mat-icon>delete</mat-icon>
        </button>
    </li>
</ol>
