<div> 
    <button (click)="remove()" class="icon-button" matTooltip="Remove" matTooltipPosition="above" matTooltipShowDelay="500">
        <mat-icon>remove</mat-icon>
    </button>
    <p>{{value}}</p>
    <button (click)="add()" class="icon-button" matTooltip="Add" matTooltipPosition="above" matTooltipShowDelay="500">
        <mat-icon>add</mat-icon>
    </button>
    <button (click)="refresh()" class="icon-button" matTooltip="Refresh" matTooltipPosition="above" matTooltipShowDelay="500">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
