div{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

div p{
    margin: 0;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(114, 114, 114);
}